- metadata world_map_path: world_map_game_path(@game, format: :json)
%header
  %h1 Editing game
#main
  %aside.edit-game
    #rooms
      %header
        %h2 Rooms
      %nav
        %ul
          - @game.rooms.asc(:name).each do |room|
            %li= link_to room.name, edit_game_room_path(@game, room)
          %li= link_to '+', new_game_room_path(@game), title: "New Room"
    #world-map
      %header
        %h2 World Map
      .data= @game.generate_map
  = render 'form'