%header
  %h1 Editing game
#main
  %aside.edit-game
    #rooms
      %header
        %h2 Rooms
      %nav
        %ul
          - @game.rooms.asc(:name).each do |room|
            = link_to room.name, edit_game_room_path(@game, room)
    #world-map
      %header
        %h2 World Map
      = @game.generate_map
  = render 'form'