- if game_state.command_line
  %p.command-line= game_state.command_line
%p.game-state{id: "gs#{game_state.id}"}= mark_up_description(game_state)
- if game_state.hint
  %p.hint
    %em= game_state.hint
