var id = "gs#{@current_state.id.to_s}";
$("#history").append("#{escape_javascript(render(partial: 'game_state', object: @current_state))}");
$("#database").append("<li>#{@command_line}</li>");
$("#command_line").val("");
var position = $("#" + id).position();
$("#history").scrollTop(position.top);