%header
  %h2 Game title goes here
  #map
#main
  %aside
    %nav
      %ul
        - [:database, :inventory, :location].each do |link|
          %li= link_to link.to_s.titleize, "##{link}", id: "#{link}_tab"
    %ul#database
      %li Sample Database Entry!
    %ul#inventory
      %li One slightly abused and musty backpack
      %li Death-Rä (tm)
    #location
      This is not the map you are looking for!
  #history
%footer
  = render 'command_line'