html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  color: #333
  font-family: $helvetica
  font-size: 13px
  line-height: 18px
  
#container
  width: 100%
  height: 100%
  +linear-gradient(45deg, tint(blue, 75%) 0, shade(blue, 75%) 100%)
  +display-box
  +box-align(stretch)
  +box-orient(vertical)
  > header, > nav
    +box-flex
  > header
    +display-box
    +box-orient(horizontal)
    +box-align(end)
    margin: 0em 5em
    margin-top: 0.5em
    h1
      margin: 0
      margin-bottom: 5px
      +box-flex(8)
      font-family: $georgia
      font-size: 50pt
      vertical-align: middle
      a
        color: white
        text-shadow: 0.1em 0.1em 0.05em transparentize(black, 0.75)
        text-decoration: none
        +transition(all 1s ease)
        &:hover
          text-shadow: 0.1em 0.1em 0.05em transparentize(black, 0.75), 0 0 10px white
      img
        +transition(all 1.0s ease)
        max-height: 75px
        vertical-align: text-bottom
        &:hover
          +transform(rotate(15deg))
    .gamer-details
      +box-flex
      width: 20em
      text-align: right
      +linear-gradient(tint(green, 20%), tint(green, 40%) 75%, shade(green, 40%))
      padding: 0.1em 0.5em
      color: white
      text-shadow: 0 0 1em transparentize(darken(white, 40%), 0.5)
      border-radius: 0.5em 0.5em 0 0
      a
        color: darken(red, 15%)
        text-decoration: none
        +transition(all 1s ease)
        &:hover
          color: darken(red, 5%)
          text-shadow: 0 0 10px red
      nav
        padding: 0.2em 0.5em
        ul, li
          margin: 0
          padding: 0
        ul
          list-style-type: none
          +display-box
          +box-orient(horizontal)
          +box-pack(end)
        li
          +box-flex
          padding: 0 0.2em
          border-right: shade(green, 45%) solid 0.1em
          border-left: shade(green, 15%) solid 0.1em
          &:last-child
            border-right: none
            padding-right: 0
          &:first-child
            border-left: none
  > nav
    +cylindrical-gradient(lighten(black, 20%))
    +box-shadow(0 2em 4em hsla(0, 0%, 0%, 0.65))
    padding: 0 5em
    color: white
    ul, li
      margin: 0
      padding: 0
    ul
      list-style-type: none
      +display-box
    li
      +box-flex
      a
        +inline-block
        border-left: transparentize(tint(black, 50%), 0.3) solid 1px
        border-right: transparentize(tint(black, 35%), 0.3) solid 1px
        padding: 0.5em 1em
        +glowing-link(white)
        +transition(all 1s ease)
        &:hover
          +cylindrical-gradient(green, 0)
        &.current
          +cylindrical-gradient(black, $invert: false)
      &:first-child a
        +border-left-radius(1em)
      &:last-child a
        +border-right-radius(1em)
  #content
    +box-flex(1)
    margin-left: 5em
    margin-right: 5em
    +display-box
    +box-align(stretch)
    +box-orient(vertical)